services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: laravel-app:local
    volumes:
      - ./:/var/www/html
    environment:
      - APP_ENV=local
      - APP_DEBUG=true
      - DB_HOST=db
      - DB_PORT=3306
      - DB_DATABASE=handle_config_network
      - DB_USERNAME=root
      - DB_PASSWORD=
      - REDIS_HOST=redis
    depends_on:
      - db
      - redis
    ports:
      - "9000:9000"

  web:
    image: nginx:stable-alpine
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www/html:ro
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
    depends_on:
      - app

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: handle_config_network
      MYSQL_USER: root
      MYSQL_PASSWORD: ""
    volumes:
      - dbdata:/var/lib/mysql
    ports:
      - "3307:3306"

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

volumes:
  dbdata:
