services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: laravel-app:local
    volumes:
      - ./:/var/www/html
    env_file:
      - .env.docker
    depends_on:
      - db
      - redis
    ports:
      - "9000:9000"

  web:
    image: nginx:stable-alpine
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www/html:ro
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
    depends_on:
      - app

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: handle_config_network
    volumes:
      - dbdata:/var/lib/mysql
    ports:
      - "3307:3306"

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

volumes:
  dbdata:
